# Ignore everything in this dir by default
/*

# But don't ignore CLAUDE, .gitignore or the skills dir. Absolute patterns let
# global rules like *~ still work. Can add patterns here if there are other
# things we want to track in git.
!/CLAUDE.md
!/.gitignore
!/skills/
